<div class="centering text-center">
  <h3>App Count</h3>
  <div>
    <a href="<%= admin_apps_path %>">
      <button type="button" class="btn btn-danger btn-circle btn-xl"><%= @app_count %></button>
    </a>
  </div>
</div>