<script type="text/javascript">
$(function () {
    $('#bar').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Bar'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
              <% @tags.each do |tag| %>
                '<%= tag.name %>',
              <% end %>
            ],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ''
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Skill',
            data: [
              <% @tags.each do |tag| %>
                <%= tag.apps.count %>,
              <% end %>
            ]
        }]
    });
});
</script>

<div id="bar"></div>