<div class="page-header">
  <h1>About</h1>
</div>

<div class="row">
  <div class="col-lg-12" align="right">
    <div class="input-group">
      <%= link_to 'New', new_admin_about_path, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>

<hr>

<table id="abouts-table" class="table table-bordered table-striped table-hover table-condensed", data-source="<%= admin_abouts_path(format: :json) %>">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
